{% extends "layout.html" %}

{% block page_title %}作品收藏{% endblock %}
{% block page_id%}page-user-collect-works{% endblock %}

{% block body %}

<div class="row">
   <div class="span8">
      <h2>作品收藏 / {{ pagination.total }}</h2>

      {% from "widget/works.widget" import render_works %}
      {{ render_works(pagination.items)|safe }}

      {% from "widget/pagination.widget" import render_pagination %}
      {{ render_pagination(pagination)|safe }}
   </div>

   <div class="span4"></div>
</div>

{% endblock %}