{% extends "layout.html" %}
{% from "macro/ui.html" import pagination, render_works with context %}

{% block page_title %}作品收藏{% endblock %}
{% block page_id %}page-user-collect-works{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>作品收藏 / {{ paginator.total }}</h2>

                {{ render_works(paginator.items) }}

                {{ pagination(paginator) }}
            </div>

            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock %}