{% extends "layout.html" %}

{% block page_title %}收藏{% endblock %}
{% block page_id%}page-user-collects{% endblock %}

{% block body %}

<div class="row">
   <div class="span8">
      <h2>
         作品收藏
         <span class='link-more'>
            <a href="{{ url_for('my_collect_works') }}">全部 / {{ collect_works_num }} »</a>
         </span>
      </h2>

      {% from "widget/works.widget" import render_works %}
      {{ render_works(collect_works)|safe }}

      <h2>
         书法收藏
         <span class='link-more'>
            <a href="{{ url_for('my_collect_work_images') }}">全部 / {{ collect_work_images_num }} »</a>
         </span>
      </h2>

      {% from "widget/work_images.widget" import render_work_images %}
      {{ render_work_images(collect_work_images)|safe }}
      
   </div>

   <div class="span4">
   </div>
</div>

{% endblock %}