{% extends "layout.html" %}

{% block page_title %}{{ user.friendly_name }}的话题{% endblock %}
{% block page_id%}page-user-topics{% endblock %}

{% block body %}

<div class="row">
   <div class="span8">
      <h2>{{ user.friendly_name }}的话题 / {{ pagination.total }}</h2>

      {% from "widget/topics.widget" import render_topics %}
      {{ render_topics(pagination.items)|safe }}

      {% from "widget/pagination.widget" import render_pagination %}
      {{ render_pagination(pagination)|safe }}

   <div class="span4"></div>
</div>

{% endblock %}