{% extends "layout.html" %}
{% from "macro/ui.html" import pagination, work_images %}

{% block page_title %}{{ user.friendly_name }}上传的图片{% endblock %}
{% block page_id %}page-user-work-images{% endblock %}

{% block body %}

   <div class="row">
      <div class="col-md-8">
         <h2>
            {{ user.friendly_name }}上传的图片 / {{ pagination.total }}
         </h2>

         {{ work_images(pagination.items)|safe }}

         {{ pagination(pagination)|safe }}
      </div>

      <div class="col-md-4"></div>
   </div>

{% endblock %}