{% extends "layout.html" %}

{% block page_title %}{{ user.name }}的主页{% endblock %}
{% block page_id%}page-user{% endblock %}

{% block body %}

<div class="row">
   <div class="span8">
      <div class="clearfix">
         <a id="user-avatar" href="{{ url_for('user', user_abbr=user.abbr) }}">
            <img src="{{ user.avatar }}" />
         </a>
         
         <div class="user-info">
            <div class="user-name">{{ user.name }}</div>
            <div class="user-signature">{{ user.signature }}</div>
         </div>
      </div>

      <h2>
         点评
         <span class='link-more'>
            <a href="{{ url_for('user_reviews', user_abbr=user.abbr) }}">全部 / {{ work_reviews_num }} »</a>
         </span>
      </h2>

      {% from "widget/reviews.widget" import render_reviews %}
      {{ render_reviews(work_reviews)|safe }}

      <h2>
         话题
         <span class='link-more'>
            <a href="{{ url_for('user_topics', user_abbr=user.abbr) }}">全部 / {{ topics_num }} »</a>
         </span>
      </h2>

      {% from "widget/topics.widget" import render_topics %}
      {{ render_topics(topics)|safe }}

   </div>

   <div class="span4">
   </div>
</div>

{% endblock %}