{% extends "layout.html" %}

{% block page_title %}{{ user_name }}的点评{% endblock %}
{% block page_id%}page-user-reviews{% endblock %}

{% block body %}

<div class="row">
   <div class="span8">
      <h2>{{ user_name }}的点评 / {{ reviews_num }}</h2>
      
      {% from "macro/reviews.widget" import show_reviews %}
      {{ show_reviews(reviews)|safe }}

      {% from "macro/pagination.widget" import render_pagination %}
      {{ render_pagination(pagination)|safe }}
   </div>

   <div class="span4"></div>
</div>

{% endblock %}