{% extends "layout.html" %}

{% block page_title %}{{ user.Name }}的主页{% endblock %}
{% block page_id%}page-user{% endblock %}

{% block body %}

<div class="row">
   <div class="span8">

      <div class="clearfix">
         <a id="user-avatar" href="{{ url_for('user', user_abbr=user.Abbr) }}">
            <img src="{{ user.Avatar }}" />
         </a>
         
         <div class="user-info">
            <div class="user-name">{{ user.Name }}</div>
            <div class="user-signature">{{ user.Signature }}</div>
         </div>
      </div>

      <h2>
         点评
         <span class='link-more'>
            <a href="{{ url_for('user_reviews', user_abbr=user.Abbr) }}">全部 / {{ reviews_num }} »</a>
         </span>
      </h2>

      {% from "macro/reviews.widget" import show_reviews %}
      {{ show_reviews(reviews)|safe }}

      <h2>
         话题
         <span class='link-more'>
            <a href="{{ url_for('user_topics', user_abbr=user.Abbr) }}">全部 / {{ topics_num }} »</a>
         </span>
      </h2>

      {% from "macro/topics.widget" import show_topics %}
      {{ show_topics(topics)|safe }}

      <h2>
         书法
         <span class='link-more'>
            <a href="#">全部 / {{ work_images_num }} »</a>
         </span>
      </h2>

      {% from "macro/work_images.widget" import show_work_images %}
      {{ show_work_images(work_images)|safe }}

   </div>

   <div class="span4">
   </div>
</div>

{% endblock %}