{% extends "layout.html" %}
{% from "macro/ui.html" import pagination, render_work_images %}

{% block page_title %}{{ user.name }}上传的图片{% endblock %}
{% block page_id %}page-user-work-images{% endblock %}

{% block body %}

   <div class="row">
      <div class="col-md-8">
         <h2>
            {{ user.name }}上传的图片 / {{ paginator.total }}
         </h2>

         {{ render_work_images(paginator.items) }}

         {{ pagination(paginator) }}
      </div>

      <div class="col-md-4"></div>
   </div>

{% endblock %}