{% for w in works %}
   <div class="work-item work-item-with-type">
      <div class="work-header">
         <a class="work-type" href="{{ url_for('work.works') }}?type={{ w.type.en }}">
            {{ w.type.cn }}
         </a>
         <a class="work-title" href="{{ url_for('work.view', work_id = w.id) }}" target="_blank">
            {{ w.full_title }}</a>
         <sup class="work-author">
            〔<a
               href="{{ url_for('author.view', author_abbr=w.author.abbr) }}">{{ w.author.name }}</a>〕
         </sup>
      </div>

      <div class="work-content">{{ w.content|clean_work|truncate(35, True) }}</div>
   </div>
{% endfor %}