{% macro pagination(paginator) %}
   {% if paginator.pages > 1 %}
      <ul class='pagination pagination-sm'>
         {% if paginator.has_prev %}
            <li><a href="{{ url_for_other_page(paginator.prev_num) }}">上一页</a></li>
         {% endif %}

         {% for page in paginator.iter_pages() %}
            {% if page %}
               {% if page != paginator.page %}
                  <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
               {% else %}
                  <li class="active"><span>{{ page }}</span></li>
               {% endif %}
            {% else %}
               <li class="ellipsis"><span>...</span></li>
            {% endif %}
         {% endfor %}

         {% if paginator.has_next %}
            <li><a href="{{ url_for_other_page(paginator.next_num) }}">下一页</a></li>
         {% endif %}
      </ul>
   {% endif %}
{% endmacro %}


{% macro render_authors(authors) %}
   {% for author in authors %}
      {% set quote = author.random_quote %}
      {% set quote_id = quote.id if quote else "" %}
      {% set quote_content = quote.quote if quote else "" %}
      <div class='author-item'>
         <div>
            <a class='author' href="{{ url_for('author.view', author_abbr=author.abbr, q=quote_id) }}">{{ author.name }}</a>
            <sup class='author-dynasty'>
               〔<a href="{{ url_for('dynasty.view', dynasty_abbr=author.dynasty.abbr) }}">{{ author.dynasty.name }}</a>〕
            </sup>
         </div>
         <div class='author-quote'>{{ quote_content }}</div>
      </div>
   {% endfor %}
{% endmacro %}


{% macro render_users(users) %}
   {% for u in users %}
      <div class="user-item clearfix">
         <a class="user-avatar" href="{{ url_for('user.view', user_abbr=u.abbr) }}">
            <img class="avatar-sm" src="{{ u.avatar }}"/>
         </a>

         <div class="user-info">
            <div class="user-name">
               <a href="{{ url_for('user.view', user_abbr=u.abbr) }}">{{ u.name }}</a>
            </div>
            <div class="user-signature">{{ u.signature }}</div>
         </div>
      </div>
   {% endfor %}
{% endmacro %}


{% macro render_comments(comments) %}
   {% for c in comments %}
      <div class="comment-item clearfix media">
         <a name="{{ c.id }}"></a>
         <a class="comment-user-avatar pull-left"
            href="{{ url_for('user.view', user_abbr=c.user.abbr) }}">
            <img class="avatar-sm" src="{{ c.user.avatar }}">
         </a>

         <div class="comment-wap media-body">
            <div class="comment-extra-info">
               <a href="{{ url_for('user.view', user_abbr=c.user.abbr) }}">{{ c.user.name }}</a>
               <span class="comment-time">{{ c.create_time|timesince }}</span>
               <!-- <a class="btn-reply-somebody" data-username="{{ c.user.name }}">回应</a> -->
            </div>

            <div class="comment-body">{{ c.content }}</div>
         </div>
      </div>
   {% endfor %}
{% endmacro %}


{% macro render_topics(topics) %}
   {% for t in topics %}
      <div class="topic-item media">
         <a class="pull-left" href="{{ url_for('user.view', user_abbr=t.user.abbr) }}">
            <img class="avatar" src="{{ t.user.avatar }}">
         </a>

         <div class="topic-info media-body">
            <div class="topic-title">
               <a href="{{ url_for('topic.view', topic_id=t.id) }}">{{ t.title }}</a>
            </div>
            <div class="topic-extra-info">
               <a class="topic-creator"
                  href="{{ url_for('user.view', user_abbr=t.user.abbr) }}">{{ t.user.name }}</a>
               <span class="topic-time">{{ t.create_time|timesince }}</span>
            </div>
            {% if t.comments.count() > 0 %}
               <div class="topic-comment-num">{{ t.comments.count() }}</div>
            {% endif %}
         </div>
      </div>
   {% endfor %}
{% endmacro %}


{% macro render_works(works) %}
   {% for w in works %}
      {% set show = permissions.admin_permission.check() and w.highlight %}
      <div class="work-item">
         <div class="work-header">
            <a class="work-type" href="{{ url_for('work.works') }}?type={{ w.type.en }}">
               {{ w.type.cn }}</a>
            <a class="work-title" href="{{ url_for('work.view', work_id=w.id) }}">
               {{ w.title }}</a>
            <sup class="work-author">
               〔<a href="{{ url_for('author.view', author_abbr=w.author.abbr) }}">{{ w.author.name }}</a>〕
               {% if show %}
                  <span class="glyphicon glyphicon-ok"></span>
               {% endif %}
            </sup>
         </div>

         <div class="work-content">{{ w.content|clean_work|truncate(35, True) }}</div>
      </div>
   {% endfor %}
{% endmacro %}


{% macro render_work_reviews(work_reviews) %}
   {% for r in work_reviews %}
      <div class="work-review-item media">
         <a class="user-avatar pull-left" href="{{ url_for('user.view', user_abbr=r.user.abbr) }}">
            <img class="avatar" src="{{ r.user.avatar }}"/>
         </a>

         <div class="review-wap media-body">
            <div class="review-title">
               <a href="{{ url_for('work.review', review_id = r.id) }}">{{ r.title }}</a>
               {% if not r.is_publish %}
                  <sup>
                     <span class="label label-primary">草稿</span>
                  </sup>
               {% endif %}
            </div>

            <div class="review-content">{{ r.content|truncate(30, True)|safe }}</div>

            <div class="review-meta-info">
               <a href="{{ url_for('user.view', user_abbr=r.user.abbr) }}">{{ r.user.name }}</a>
               评
               <a href="{{ url_for('work.view', work_id=r.work.id) }}">{{ r.work.title }}</a>〔{{ r.work.author.name }}〕
               <span class="review-time">{{ r.create_time|timesince }}</span>
               <span class="comments-count">{{ r.comments.count() }} 回复</span>
            </div>
         </div>
      </div>
   {% endfor %}
{% endmacro %}


{% macro render_work_images(work_images) %}
   <div class='work-image-wap'>
      {% for image in work_images %}
         <a href="{{ url_for('work.image', work_image_id=image.id) }}">
            <img class='work-image img-responsive' src="{{ image.url }}">
         </a>
      {% endfor %}
   </div>

   <script type="text/javascript"
           src="{{ url_for('static', filename='bower_components/eventEmitter/EventEmitter.min.js') }}"></script>
   <script type="text/javascript"
           src="{{ url_for('static', filename='bower_components/eventie/eventie.js') }}"></script>
   <script type="text/javascript"
           src="{{ url_for('static', filename='bower_components/imagesloaded/imagesloaded.js') }}"></script>
   <script type="text/javascript">
      // water fall layout
      function waterfall() {
         var width = 195,
               h_gap = 15,
               v_gap = 15;

         var lefts = [0, width + h_gap, 2 * (width + h_gap)],
               tops = [0, 0, 0];

         // init css style
         $('.work-image').each(function (index) {

            $(this).css({
               'width': width + 'px',
               'display': 'none',
               'position': 'absolute'
            });
         });

         $('.work-image-wap').imagesLoaded().progress(function (instance, image) {
            // get the min height column
            var img = image.img;
            var minHeight = tops[0];
            var minHeightColumn = 0;

            for (var i = 0; i < tops.length; i++) {
               if (tops[i] < minHeight) {
                  minHeight = tops[i];
                  minHeightColumn = i;
               }
            }

            $(img).css({
               'display': 'block',
               'left': lefts[minHeightColumn] + 'px',
               'top': tops[minHeightColumn] + 'px'
            });

            // Overadd height
            tops[minHeightColumn] += $(img).height() + v_gap;

            // Set mother wap's height
            var maxHeight = 0;
            for (var i = 0; i < tops.length; i++) {
               if (tops[i] > maxHeight) {
                  maxHeight = tops[i];
               }
            }
            $('.work-image-wap').css('height', maxHeight + 'px');
         });
      }

      // if window's width < 992px, do not start water fall
      if ($(window).width() >= 992) {
         waterfall();
      }
   </script>
{% endmacro %}


{% macro user_profile(user, suffix) %}
   <div class="media user-profile">
      <a class="pull-left" id="user-avatar"
         href="{{ url_for('user.view', user_abbr=user.abbr) }}">
         <img class="avatar" src="{{ user.avatar }}"/>
      </a>

      <div class="media-body user-info">
         <div class="user-name">
            <a href="{{ url_for('user.view', user_abbr=user.abbr) }}">{{ user.name }}</a>
         </div>

         {% if user.signature %}
            <div class="user-signature">{{ user.signature }}</div>
         {% endif %}
      </div>
   </div>
{% endmacro %}