{% macro render_comments(comments) %}

{% for comment in comments %}
<div class="comment-item clearfix">
   <a name="{{ comment.id }}"></a>
   <a class="comment-user-avatar" href="{{ url_for('user', user_abbr=comment.user.abbr) }}">
      <img src="{{ comment.user.avatar }}">
   </a>

   <div class="comment-wap">
      <div class="comment-extra-info">
         <a href="{{ url_for('user', user_abbr=comment.user.abbr) }}">{{ comment.user.name }}</a>
         <span class="comment-time">{{ comment.friendly_create_time }}</span>
         <!-- <a class="btn-reply-somebody" data-username="{{ comment.user.name }}">回应</a> -->
      </div>

      <div class="comment-body">{{ comment.content|safe }}</div>
   </div>
</div>
{% endfor %}

{% endmacro %}