{% extends "layout.html" %}

{% block page_title %}关于{% endblock %}
{% block page_id%}page-about{% endblock %}

{% block body %}

<div class="row">
	<div class="span8">
		<h2><span style="font-family:'yahei'">『</span>西窗烛<span style="font-family:'yahei'">』</span></h2>

		<p>何当共剪西窗烛，却话巴山夜雨时。&nbsp;&nbsp;&nbsp;&nbsp;——&nbsp;&nbsp;李商隐&nbsp;《<a target="_blank" href="{{ url_for('single_work', work_id=10024) }}">夜雨寄北</a>》</p>

		<p>不得不承认，中国传统文化的一部分，是对人性和自由的禁锢。五四运动所要打倒的是传统中的糟粕，但大江东去的豪放明快，共剪西窗红烛的情谊，低头弄青梅的婉媚曲折，则永远沉积在中国人的灵魂深处。</p>

		<p>当归有光手植的琵琶树亭亭如盖时；当贺铸发出“不请长缨，系取天骄种，剑吼西风”的咆哮时；当一点浩然气，在苏轼的心中刮起千里快哉风的时候，每每都会被触动。审美，与时代无关。</p>
	</div>

	<div class="span4"></div>
</div>



{% endblock %}