{% extends "layout.html" %}

{% block page_title %}点评：{{ work.Title }}{% endblock %}
{% block page_id%}page-add-review{% endblock %}

{% block body %}

<form id="form-add-review" class="form-horizontal" method="post" action="{{ url_for('add_review', work_id=work.WorkID) }}">
	<fieldset>
		<legend>点评：{{ work.Title }}</legend>
		
		{{ form.csrf_token }}

		{% from "form.widget" import show_form_error %}
		{{ show_form_error(form)|safe }}

		<div class="control-group">
			{{ form.title.label(class='control-label') }}
			<div class="controls">
				{{ form.title(class='input-xlarge') }}
			</div>
		</div>

		<div class="control-group">
			{{ form.content.label(class="control-label") }}
			<div class="controls">
				{{ form.content(class="input-xxlarge", rows="15", placeholder="支持 markdown") }}
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<input type="submit" value="提交" class="btn btn-primary btn-small" />
			</div>
		</div>

	</fieldset>
</form>

{% endblock %}