{% extends "layout.html" %}

{% block page_title %}作者{% endblock %}
{% block page_id%}page-authors{% endblock %}

{% block body %}

<script type="text/javascript">

$(document).ready(function(){
	$('.author a').tooltip();
});

</script>

<div class="row">
	<div class="span8">

		<h2>历代创作者</h2>

		{% for dynasty in dynasties %}
		{% if dynasty.authors|length != 0 %}

		<a name="{{ dynasty.Abbr }}"></a>

		<div class="author-wap">
			<a class='author-dynasty' href="{{ url_for('single_dynasty', dynasty_abbr=dynasty.Abbr) }}">{{ dynasty.Dynasty }}</a>

			<ul class="author-group clearfix">
				{% for author in dynasty.authors %}
				<li class='author'>
					<a title="{{ author.Quote }}" href="{{ url_for('single_author', author_abbr=author.Abbr) }}">{{ author.Author }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>

		{% endif %}
		{% endfor %}
	</div>

	<div class="span4">
		<h2>近期热门</h2>
		
		{% for hot_author in hot_authors %}
		<div class='hot-author-item'>
			<div class='hot-author'>
				<a href="{{ url_for('single_author', author_abbr=hot_author.Abbr) }}">{{ hot_author.Author }}</a><sup class='hot-author-dynasty'>〔<a href="{{ url_for('single_dynasty', dynasty_abbr=hot_author.DynastyAbbr) }}">{{ hot_author.Dynasty }}</a>〕</sup>
			</div>
			<div class='hot-author-quote'>{{ hot_author.Quote }}</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}