{% extends "layout.html" %}

{% block page_title %}作者{% endblock %}
{% block page_id%}page-author{% endblock %}

{% block body %}

<script type="text/javascript">

$(document).ready(function(){
	$('.author a').tooltip();
});

</script>

<div class="row">
	<div class="span8">

		<h2>历代创作者</h2>

		{% for dynasty in dynasties %}
		{% if dynasty.authors|length != 0 %}

		<a name="{{ dynasty.Abbr }}"></a>

		<div class="author-wap">
			<a class='author-dynasty' href="{{ url_for('single_dynasty', dynasty_abbr=dynasty.Abbr) }}">{{ dynasty.Dynasty }}</a>

			<ul class="author-group clearfix">
				{% for author in dynasty.authors %}
				<li class='author'>
					<a title="{{ author.Quote }}" href="{{ url_for('single_author', author_abbr=author.Abbr) }}">{{ author.Author }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>

		{% endif %}
		{% endfor %}
	</div>

	<div class="span4">
		<h2>本周热点</h2>

	</div>
</div>

{% endblock %}