{% extends "layout.html" %}

{% block page_title %}首页{% endblock %}
{% block page_id%}page-index{% endblock %}

{% block body %}

<script type="text/javascript">

$(document).ready(function(){
	$('#work-refresh').click(function(){
		$.ajax({
			url: "{{ url_for('four_works') }}",
			type: 'POST',
			success: function(data){
				$('#4works-wap').html(data);
			}
		})
	});
});

</script>

<div class="row">
	<div class="span8">

		<h2>
			作品
			<span class='link-more'>
				<a id="work-refresh">换换</a>
				<a href="{{ url_for('works') }}">更多»</a>
			</span>
		</h2>

		<div id="4works-wap">
			{% include "four_works.widget" %}
		</div>

		<h2>
			点评
			<span class='link-more'>
				<a href="{{ url_for('reviews') }}">更多»</a>
			</span>
		</h2>

		{% for review in reviews %}
		<div class="review-item">
			<a class="user-avatar" href="{{ url_for('people', user_abbr=review.UserAbbr) }}" >
				<img src="{{ review.Avatar }}" />
			</a>

			<div class="review-wap">
				<div class="review-title">
					<a href="{{ url_for('single_review', review_id = review.ReviewID) }}">{{ review.Title }}</a>
				</div>

				<div class="review-content">{{ review.Content|truncate(35, True) }}</div>

				<div class="review-extra-info">
					<a href="{{ url_for('people', user_abbr=review.UserAbbr) }}">{{ review.Name }}</a>
					评
					<a href="{{ url_for('single_work', work_id=review.WorkID) }}">{{ review.WorkTitle }}〔{{ review.Author }}〕</a>
					<span class="review-time">{{ review.Time }}</span>
				</div>
			</div>
		</div>
		{% endfor %}

	</div>

	<div class="span4">

		<h2>
			文学家
			<span class='link-more'>
				<!-- <a id="author-refresh">换换</a> -->
				<a href="{{ url_for('authors') }}">更多»</a>
			</span>
		</h2>

		{% for author in authors %}
		<div class='author-item'>
			<div class='author'>
				<a href="{{ url_for('single_author', author_abbr=author.Abbr) }}">{{ author.Author }}</a><sup class='author-dynasty'>〔<a href="{{ url_for('single_dynasty', dynasty_abbr=author.DynastyAbbr) }}">{{ author.Dynasty }}</a>〕</sup>
			</div>
			<div class='author-quote'>{{ author.Quote }}</div>
		</div>
		{% endfor %}

		<h2>五千年</h2>

		<ul id="dynasties-wap">
			{% for dynasty in dynasties %}
			<li class='dynasty-item'>
				<a href="{{ url_for('single_dynasty', dynasty_abbr=dynasty.Abbr) }}">{{ dynasty.Dynasty }}</a>
				<span>/</span>
			</li>
			{% endfor %}
		</ul>

	</div>
</div>

{% endblock %}