<!doctype html>
<html>
   <head>
      <title>{% block page_title %}{% endblock %}</title>
      <meta name='description' content="{% block description %}{% endblock %}" />
      {% block meta %}{% endblock %}
      <meta name="google-site-verification" content="zJepc6vImx49zVPi4ID-67OUzuetR1JQNKrHN26bU7E" />
      <meta name="baidu-site-verification" content="fKxRmqSY9r" />
      <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
      <!-- tY01T6z2-CO7TsfMMZfvk7vkMhY -->
      <link rel="Shortcut Icon" href="{{ url_for('static', filename='img/xichuangzhu.ico') }}">
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap.min.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/fonts.css') }}">
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style/component.css') }}">
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style/page.css') }}">
      <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.9.0.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
      <script src="{{ url_for('static', filename='js/s2t.js') }}"></script>
   </head>

   <body id="{% block page_id %}{% endblock %}">
      <div class="navbar">
         <div class="navbar-inner">
            <div class="container">
               <a class="brand" href="{{ url_for('index') }}">西窗烛</a>

               <ul class="nav">
                  <li><a href="{{ url_for('index') }}">首页</a></li>
                  
                  {% if session.user_id %}
                  <li><a href="{{ url_for('my_collect_works') }}">收藏</a></li>
                  <li><a href="{{ url_for('user', user_abbr=session.user_abbr) }}">个人主页</a></li>
                  {% endif %}

                  <li><a href="{{ url_for('topics') }}">话题</a></li>

                  {% if not session.user_id %}
                  <li><a href="{{ url_for('about') }}">关于</a></li>
                  {% endif %}
               </ul>

               <form class="navbar-search">
                  <input type="text" class="search-query" title="按下 Enter 键开始搜索" placeholder="作品 / 文学家">
               </form>

               <script type="text/javascript">
                  $('.navbar-search').submit(function(){
                     var query = $('.search-query').val();
                     var url = "http://www.google.com.hk/search?q=site:www.xichuangzhu.com/work " + query;
                     window.open(url, "_blank")
                     return false;
                  });
               </script>
               
               {% if session.user_id %}
               
               <ul class="nav pull-right">
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{ session.user_name }} <b class="caret"></b>
                     </a>
                     <ul class="dropdown-menu">
                        <li><a href="{{ url_for('signout') }}">退出</a></li>
                     </ul>
                  </li>
               </ul>

               {% if session.user_id == admin_id %}
               <ul class="nav pull-right">
                  <li class="dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        添加 <span class="caret"></span>
                     </a>

                     <ul class="dropdown-menu">
                        <li><a href="{{ url_for('add_work') }}">作品</a></li>
                        <li><a href="{{ url_for('add_author') }}">文学家</a></li>
                        <li><a href="{{ url_for('add_dynasty') }}">朝代</a></li>
                     </ul>
                  </li>
               </ul>
               {% endif %}

               {% else %}

               <a href="{{ douban_login_url }}"><img id="douban-icon" title="用豆瓣帐号登陆" src="http://img3.douban.com/pics/douban-icons/login_with_douban_24.png" /></a>

               {% endif %}

               <button id="btn-s2t" class="btn btn-small pull-right">简</button>

               <script type="text/javascript">
                  var bodyIsFt = $.cookie("bodyIsFt");

                  $('#btn-s2t').click(function(){
                     // to simple
                     if(bodyIsFt == "1"){
                        $.cookie("bodyIsFt", 0, { expires: 365, path : '/'});
                        bodyIsFt = "0";
                        $('#btn-s2t').text('简');
                        StranObj(document.body, 0);
                     }
                     else{ // to traditional
                        $.cookie("bodyIsFt", 1, { expires: 365, path : '/'});
                        bodyIsFt = "1";
                        $('#btn-s2t').text('繁');
                        StranObj(document.body, 1);
                     }               
                  });
               </script>
            </div>
         </div>
      </div>

      <div id="main-wap" class="container">
      {% block body %}{% endblock %}
      </div>

      <div id="footer">
         <div class='container'>
            <div id='copyright'>西窗烛 ©2013 by <a href="http://hustlzp.com" target="_blank">hustlzp</a></div>
            <ul id='links'>
               <li><a href="{{ url_for('about') }}">关于</a></li
               ><li><a target="_blank" href="https://github.com/hustlzp/xichuangzhu">GitHub</a></li>
            </ul>

            <div id='extra-info'>
            {% block extra_info %}{% endblock %}
            </div>
  
            <script src="http://s15.cnzz.com/stat.php?id=5192863&web_id=5192863&show=pic" language="JavaScript"></script>
         </div>
      </div>

      <script type="text/javascript">
         // convert simple to fanti if needed
         var bodyIsFt = $.cookie("bodyIsFt");

         if(bodyIsFt == "1"){
            StranObj(document.body, 1);
            $('#btn-s2t').text('繁');
         }
         else{
            $('#btn-s2t').text('简');
         }
      </script>
   </body>
</html>