{% extends "layout.html" %}

{% block page_title %}{{ user_name }}的话题{% endblock %}
{% block page_id%}page-people-topics{% endblock %}

{% block body %}

<div class="row">
	<div class="span8">
		<h2>{{ user_name }}的话题</h2>

		{% from "topics.widget" import show_topics %}
		{{ show_topics(topics)|safe }}

		<div class="pagination">
			<ul>
				<li><a href="{{ url_for('people_topics', user_abbr=people.Abbr) }}?page={{ pre_page }}"><<</a></li>
				<li><a>{{ page }} / {{ total_page }}</a></li>
				<li><a href="{{ url_for('people_topics', user_abbr=people.Abbr) }}?page={{ next_page }}">>></a></li>
			</ul>
		</div>
	</div>

	<div class="span4"></div>
</div>

{% endblock %}