{% extends "layout.html" %}

{% block page_title %}{{ user_name }}的点评{% endblock %}
{% block page_id%}page-people-reviews{% endblock %}

{% block body %}

<div class="row">
	<div class="span8">
		<h2>{{ user_name }}的点评 / {{ reviews_num }}</h2>
		
		{% from "reviews.widget" import show_reviews %}
		{{ show_reviews(reviews)|safe }}

		<div class="pagination">
			<ul>
				<li><a href="{{ url_for('people_reviews', user_abbr=people.Abbr) }}?page={{ pre_page }}"><<</a></li>
				<li><a>{{ page }} / {{ total_page }}</a></li>
				<li><a href="{{ url_for('people_reviews', user_abbr=people.Abbr) }}?page={{ next_page }}">>></a></li>
			</ul>
		</div>
	</div>

	<div class="span4"></div>
</div>

{% endblock %}