{% extends "layout.html" %}

{% block page_title %}{{ title_name }}的主页{% endblock %}
{% block page_id%}page-people{% endblock %}

{% block body %}

<div class="row">
	<div class="span8">

		<div class="clearfix">
			<a class="user-avatar" href="{{ url_for('people', user_abbr=people.Abbr) }}">
				<img src="{{ people.Avatar }}" />
			</a>
			
			<div class="user-info">
				<div class="user-name">{{ people.Name }}</div>
				<div class="user-signature">{{ people.Signature }}</div>
			</div>
		</div>
		
		<h2>{{ title_name }}收藏的作品
			<span class='link-more'>
				<a href="#">全部»</a>
			</span>
		</h2>

		{% for work in works %}
		<div class="work-item">
			<div class="work-header">
				<a class="work-title" href="{{ url_for('single_work', work_id = work.WorkID) }}">{{ work.Title }}</a><sup class="work-author">〔<a href="{{ url_for('single_author', author_abbr=work.AuthorAbbr) }}">{{ work.Author }}</a>〕</sup>
			</div>
			
			<div class="work-content">{{ work.Content|truncate(35, True) }}</div>
		</div>
		{% endfor %}

		<h2>{{ title_name }}的点评
			<span class='link-more'>
				<a href="#">全部»</a>
			</span>
		</h2>

		{% for review in reviews %}
		<div class="review-item">
			<a class="review-title" href="{{ url_for('single_review', review_id=review.ReviewID) }}">{{ review.Title }}</a>

			<div class="review-content">{{ review.Content|truncate(35, True) }}</div>

			<div class="review-extra-info">
				评
				<a href="{{ url_for('single_work', work_id=review.WorkID) }}">{{ review.WorkTitle }}〔{{ review.Author }}〕</a>
				<span class="review-time">{{ review.Time }}</span>
			</div>
		</div>
		{% endfor %}

		<h2>{{ title_name }}喜欢的物品
			<span class='link-more'>
				<a href="#">全部»</a>
			</span>
		</h2>
	</div>

	<div class="span4">

		<h2>{{ title_name }}发起的话题
			<span class='link-more'>
				<a href="#">全部»</a>
			</span>
		</h2>

		<h2>{{ title_name }}收藏的话题
			<span class='link-more'>
				<a href="#">全部»</a>
			</span>
		</h2>

		<h2>
			{{ title_name }}的回复
			<span class='link-more'>
				<a href="#">全部»</a>
			</span>
		</h2>
	</div>
</div>

{% endblock %}