{% extends "layout.html" %}

{% block page_title %}{{ user_name }}的收藏{% endblock %}
{% block page_id%}page-people-collect-works{% endblock %}

{% block body %}

<div class="row">
	<div class="span8">
		<h2>{{ user_name }}的收藏 / {{ works_num }}</h2>

		{% from "works.widget" import show_works %}
		{{ show_works(works)|safe }}

		<div class="pagination">
			<ul>
				<li><a href="{{ url_for('people_collect_works', user_abbr=people.Abbr) }}?page={{ pre_page }}"><<</a></li>
				<li><a>{{ page }} / {{ total_page }}</a></li>
				<li><a href="{{ url_for('people_collect_works', user_abbr=people.Abbr) }}?page={{ next_page }}">>></a></li>
			</ul>
		</div>
	</div>

	<div class="span4"></div>
</div>

{% endblock %}