{% extends "layout.html" %}

{% block page_title %}评论{% endblock %}
{% block page_id%}page-reviews{% endblock %}

{% block body %}

<div class="row">
	<div class="span8">
		<h2>最受欢迎的点评</h2>

		{% for review in reviews %}
		<div class="review-item">
			<a class="user-avatar" href="{{ url_for('people', user_abbr=review.UserAbbr) }}" >
				<img src="{{ review.Avatar }}" />
			</a>

			<div class="review-wap">
				<div class="review-title">
					<a href="{{ url_for('single_review', review_id = review.ReviewID) }}">{{ review.Title }}</a>
				</div>

				<div class="review-content">{{ review.Content|truncate(38, True) }}</div>

				<div class="review-extra-info">
					<a href="{{ url_for('people', user_abbr=review.UserAbbr) }}">{{ review.Name }}</a>
					评
					<a href="{{ url_for('single_work', work_id=review.WorkID) }}">{{ review.WorkTitle }}〔{{ review.Author }}〕</a>
					{{ review.Time }}
				</div>
			</div>
		</div>
		{% endfor %}

	</div>

	<div class="span4">
		<h2>点评人</h2>

		{% for reviewer in reviewers %}
		<div class="reviewer-item">
			<a class="reviewer-avatar" href="{{ url_for('people', user_abbr=reviewer.Abbr) }}"><img src="{{ reviewer.Avatar }}" /></a>
			<div class="reviewer-info">
				<div class="reviewer"><a href="{{ url_for('people', user_abbr=reviewer.Abbr) }}">{{ reviewer.Name }}</a></div>
				<div class="reviewer-signature">{{ reviewer.Signature }}</div>
				<div class="reviews-num">点评 {{ reviewer.ReviewNum }}</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}