{% extends "layout.html" %}

{% block page_title %}评论{% endblock %}
{% block page_id%}page-reviews{% endblock %}

{% block body %}

<div class="row">
	<div class="span8">
		<h2>最新点评</h2>

		{% from "reviews.widget" import show_reviews %}
		{{ show_reviews(reviews)|safe }}

		<div class="pagination">
			<ul>
				<li><a href="{{ url_for('reviews') }}?page={{ pre_page }}"><<</a></li>
				<li><a>{{ page }} / {{ total_page }}</a></li>
				<li><a href="{{ url_for('reviews') }}?page={{ next_page }}">>></a></li>
			</ul>
		</div>
	</div>

	<div class="span4">
		<h2>点评人</h2>

		{% from 'users.widget' import show_users %}
		{{ show_users(reviewers)|safe }}
	</div>
</div>

{% endblock %}