{% extends "layout.html" %}

{% block page_title %}{{ topic.Title }}{% endblock %}
{% block page_id%}page-single-topic{% endblock %}

{% block body %}

<div class="row">
	<div class="span8">
		<h2 class="node-info">
			<a href="{{ url_for('forum') }}" class="root-node">话题</a>&nbsp;&nbsp;›&nbsp;&nbsp;<a href="{{ url_for('node', node_abbr=topic.NodeAbbr)}}" class="sub-node">{{ topic.NodeName }}</a>
		</h2>

		<div class="topic-wap">
			<a class="topic-user-avatar" href="{{ url_for('people', user_abbr=topic.UserAbbr) }}"><img src="{{ topic.Avatar }}"></a>
			<h1 class="topic-title">{{ topic.Title }}</h1>
			<div class="topic-extra-info">
				By
				<a class="topic-launcher" href="{{ url_for('people', user_abbr=topic.UserAbbr) }}">{{ topic.UserName }}</a>
				<span class="topic-time">{{ topic.Time }}</span>
				{% if topic.UserID == session.user_id %}
				<a class="btn btn-mini btn-edit-topic" href="{{ url_for('edit_topic', topic_id=topic.TopicID) }}">编辑</a>
				{% endif %}
			</div>
			<div class="topic-content">{{ topic.Content }}</div>
			<!-- <div class="topic-comment-num">{{ topic.CommentNum }}</div> -->
		</div>
	</div>

	<div class="span4">
		<h2>最热节点</h2>

		<ul class="node-list">
		{% for n in nodes %}
		<li class="node"><a href="{{ url_for('node', node_abbr=n.Abbr) }}">{{ n.Name }}</a></li>
		{% endfor %}
		</ul>
	</div>
</div>

{% endblock %}