{% extends "layout.html" %}

{% block page_title %}{{ author.Author }}{% endblock %}
{% block page_id%}page-single-author{% endblock %}

{% block body %}

<script type="text/javascript">

$(document).ready(function(){
	$('.works-num-wap span').click(function(){
		$('.works-num-wap span').removeClass('active');
		$(this).addClass('active');

		// show works of certain type
		type = $(this).attr('data-work-type');
		if(type == 'all'){
			$('.work-item').show();
		}
		else{
			$('.work-item').each(function(){
				if($(this).attr('data-work-type') == type){
					$(this).show();
				}
				else{
					$(this).hide();
				}
			});
		}
	});

	$('.author-quote').tooltip({
		placement: 'right'
	});
});

</script>

<div class="row">
	<div class="span8">
		{% if session.user_id == 45197381 %}
		<a class="btn btn-small pull-right" href="{{ url_for('edit_author', authorID=author.AuthorID) }}"><span class="icon-edit"></span> 编辑</a>
		{% endif %}
	
		<div class="author">
			<h1>{{ author.Author }}</h1>
			
			{% if quotes_num != 0 %}
			<a href="{{ url_for('single_work', work_id=quote.WorkID) }}" class="author-quote" title="《{{ quote.WorkTitle }}》">{{ quote.Quote }}</a>
			{% endif %}

			{% if session.user_id == 45197381 %}
			<a class="btn btn-mini" target="_blank" href="{{ url_for('admin_quotes', author_id=author.AuthorID) }}">Edit / {{ quotes_num }}</a>
			{% endif %}
		</div>
		
		<div class='author-period'>
			〔<a href="{{ url_for('single_dynasty', dynasty_abbr=author.DynastyAbbr) }}">{{ author.Dynasty }}</a>〕{% if author.DeathYear == "?" or author.DeathYear|int != 0 %}{{ author.BirthYear|replace('-', '前') }}年 ~ {{ author.DeathYear|replace('-', '前') }}年{% endif %}
		</div>

		<h2>简介</h2>
		<div class='author-introduction'>{{ author.Introduction }}</div>

		{% if collections|length != 0 %}
		<h2>作品集</h2>

		{% for collection in collections %}
		<div class="collection-item">
			<div class="collection"><a href="{{ url_for('single_collection', collectionID=collection.CollectionID) }}">{{ collection.Collection }}</a></div>
			<div class="collection-introduction">{{ collection.Introduction|truncate(75, True) }}</div>
		</div>
		{% endfor %}
		{% endif %}

		<h2>
			作品
			<div class="works-num-wap">
				<span data-work-type="all" class="active">全部</span>

				{% for key, value in works_num.items() %}
				{% if value.num != 0 %}
				<span data-work-type="{{key}}">{{ value.type_name }}{{ value.num }}</span>
				{% endif %}
				{% endfor %}
			</div>
		</h2>

		{% for work in works %}
		<a href="{{url_for('single_work', work_id=work.WorkID)}}" data-work-type="{{ work.Type }}" class="work-item">
			<div class='work-title'>{{ work.Title }}</div>
			<div class='work-content'>{{ work.Content|truncate(23, True) }}</div>
		</a>
		<!-- <div data-work-type="{{ work.Type }}" class="work-item">
			<div class="work-header">
				<a href="{{url_for('single_work', work_id=work.WorkID)}}" class='work-title'>{{ work.Title }}</a>
			</div>
			<div class='work-content'>{{ work.Content|truncate(38, True) }}</div>
		</div> -->
		{% endfor %}
	</div>

	<div class="span4"></div>
</div>

{% endblock %}