{% extends "layout.html" %}

{% block page_title %}{{ dynasty.Dynasty }}{% endblock %}
{% block page_id%}page-single-dynasty{% endblock %}

{% block body %}

<script type="text/javascript">

$(document).ready(function(){

	$('#dyn-selector a').each(function(){
		// $(this).tooltip({
		// 	'placement': 'bottom'
		// });

		$(this).click(function(){
			// $('#dyn-selector a').css({
			// 	'margin-top': '0px'
			// });

			// $(this).css({
			// 	'margin-top': '11px'
			// });

			// // change tooltip top
			// var tooltip_top = parseInt($('.tooltip').first().css('top').replace('px', ''));

			// $('.tooltip').first().css({
			// 	'top': tooltip_top + 11 + 'px'
			// });

			// $.ajax({
			// 	url: "{{ url_for('get_dynasty_by_json') }}",
			// 	type: 'POST',
			// 	data: {
			// 		dynasty_id: $(this).attr('data-dynasty-id')
			// 	},
			// 	success: function(data){
			// 		$('#dynasty-wap').html(data);
			// 	}
			// });
		});

		// set random color
		var color = 'rgb(' + Math.floor(Math.random()*255+1) + ',' + Math.floor(Math.random()*200+1) + ',' + Math.floor(Math.random()*200+1) + ')';

		var bar_width = $(window).width() / 17;

		$(this).css({
			'height': '22px',
			'width': bar_width + 'px',
			'background-color': color
		});
	});

	// when change window size
	$(window).resize(function(){
		var bar_width = $(window).width() / 17;

		$('#dyn-selector a').each(function(){
			$(this).css({
				'width': bar_width + 'px'
			});
		});
	});

	// $('#dyn-12').css({
	// 	'width': $('#dyn-12').width() + $(window).width() - $('#dyn-selector').width() - 1 + "px"
	// });
});

</script>

<ul id="dyn-selector" class="clearfix">
	{% for dyn in dynasties %}
	<li>
		<a href="{{ url_for('single_dynasty', dynasty_abbr=dyn.Abbr) }}" id="dyn-{{ dyn.DynastyID }}" data-width="{{ (dyn.EndYear - dyn.StartYear) }}" data-dynasty-id="{{ dyn.DynastyID }}" style="{% if dyn.DynastyID == dynasty.DynastyID %}margin-top: 10px{% endif %}">{{ dyn.Dynasty }}</a>
	</li>
	{% endfor %}
</ul>

<div class="row">
	<div class="span8">
		<div id="dynasty-wap">
			{% if session.user_id == 45197381 %}
			<a class="btn btn-small pull-right" href="{{ url_for('edit_dynasty', dynasty_id=dynasty.DynastyID) }}">编辑  <span class="icon-edit"></span></a>
			{% endif %}

			<h1 class='dynasty'>{{ dynasty.Dynasty }}</h1>

			{% if dynasty.EndYear == 2012 %}
			<div class="dynasty-period">{{ dynasty.StartYear }}年 ~ 至今</div>
			{% else %}
			<div class="dynasty-period">{{ dynasty.StartYear|replace('-', '前') }}年 ~ {{ dynasty.EndYear|replace('-', '前') }}年</div>
			{% endif %}

			<h2>简介</h2>
			<div class='dynasty-introduction'>{{ dynasty.Introduction }}</div>

			<div class="dynasty-extra">{{ dynasty.History|safe }}</div>

			<!-- <table class="table ">
				{% for author in authors %}
				<tr class="author-item">
					<td class='author'>
						<a href="{{ url_for('single_author', author_abbr=author.Abbr) }}">{{ author.Author }}</a>
					</td>
					<td>
						<span class='author-introduction'>{{ author.Quote|truncate(30, True) }}</span>
					</td>
				</tr>
				{% endfor %}
			</table> -->
		</div>
	</div>

	<div class="span4">
		<h2>
			文学家
			<!-- <sup><span class="badge badge-inverse">{{ authors|length }}</span></sup> -->
			<span class='link-more'>
				<a href="{{ url_for('authors') }}#{{dynasty.Abbr}}">更多 ({{ authors_num }}) »</a>
			</span>
		</h2>

		{% for author in authors %}
		<div class='author-item'>
			<div class='author'>
				<a href="{{ url_for('single_author', author_abbr=author.Abbr) }}">{{ author.Author }}</a>
			</div>
			<div class='author-quote'>{{ author.Quote }}</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}