{% extends "layout.html" %}

{% block page_title %}茶馆{% endblock %}
{% block page_id%}page-forum{% endblock %}

{% block body %}

<div class="row">
	<div class="span8">

	<h2>话题</h2>

	{% for t in topics %}
	<div class="topic-item">
		<a class="user-avatar" href="{{ url_for('people', user_abbr=t.UserAbbr) }}"><img src="{{ t.Avatar }}"></a>

		<div class="topic-info">
			<div class="topic-title"><a href="">{{ t.Title }}</a></div>
			<div class="topic-extra-info">
				<a class="topic-node" href="">{{ t.NodeName }}</a>
				<a class="topic-launcher" href="{{ url_for('people', user_abbr=t.UserAbbr) }}">{{ t.UserName }}</a>
				<span class="topic-time">{{ t.Time }}</span>
				
			</div>
			<div class="topic-comment-num">{{ t.CommentNum }}</div>
		</div>
	</div>
	{% endfor %}
	</div>

	<div class="span4">
		<h2>节点导航</h2>
	</div>
</div>

{% endblock %}