{% extends "layout.html" %}

{% block page_title %}西窗烛{% endblock %}
{% block page_id%}page-forum{% endblock %}

{% block body %}

<div class="row">
	<div class="span8">
		<h2>
			<a href="{{ url_for('forum') }}" class="root-node">话题</a>
			{% if session.user_id %}
			<a class="btn btn-small new-topic" href="#">发起新话题</a>
			{% endif %}
		</h2>

		{% for t in topics %}
		<div class="topic-item">
			<a class="topic-user-avatar" href="{{ url_for('people', user_abbr=t.UserAbbr) }}"><img src="{{ t.Avatar }}"></a>

			<div class="topic-info">
				<div class="topic-title"><a href="{{ url_for('single_topic', topic_id=t.TopicID) }}">{{ t.Title }}</a></div>
				<div class="topic-extra-info">
					<a class="topic-node" href="{{ url_for('node', node_abbr=t.NodeAbbr) }}">{{ t.NodeName }}</a>
					<a class="topic-launcher" href="{{ url_for('people', user_abbr=t.UserAbbr) }}">{{ t.UserName }}</a>
					<span class="topic-time">{{ t.Time }}</span>
				</div>
				<div class="topic-comment-num">{{ t.CommentNum }}</div>
			</div>
		</div>
		{% endfor %}
	</div>

	<div class="span4">
		<h2>最热节点</h2>

		<ul class="node-list">
		{% for n in nodes %}
		<li class="node"><a href="{{ url_for('node', node_abbr=n.Abbr) }}">{{ n.Name }}</a></li>
		{% endfor %}
		</ul>

		<h2>本日热议</h2>

		{% for t in hot_topics %}
		<div class="ht-item">
			<a class="ht-user-avatar" href="{{ url_for('people', user_abbr=t.UserAbbr) }}"><img src="{{ t.Avatar }}"></a>
			<span class="ht-title"><a href="{{ url_for('single_topic', topic_id=t.TopicID) }}">{{ t.Title }}</a></span>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}