{% extends "layout.html" %}

{% block page_title %}激活状态{% endblock %}
{% block page_id %}page-active-state{% endblock %}

{% block body %}

   <h2>提示</h2>

   <!-- create user(unactive) -> send active email(succ or failed) -> active user(succ or failed) -->

   {% if state == 'unactive' %}
      <p>您的帐号尚未激活，请进入邮箱完成激活（或 <a href="{{ url_for('account.send_active_email', user_id=user_id) }}">再发一次激活邮件</a>）。
      </p>
   {% elif state == 'send_succ' %}
      <p>激活邮件已发送，请进入邮箱完成激活（可能要去垃圾箱找找哦）。</p>
   {% elif state == 'send_failed' %}
      <p>激活邮件发送失败。</p>
   {% elif state == 'active_succ' %}
      <p>帐号激活成功！<span id="second-count"></span>秒后进入首页。</p>
      <script type="text/javascript">
         // 倒计时
         var count = 3;

         function countDown() {
            if (count == 0) {
               clearTimeout(t);
               window.location = "{{ url_for('site.index') }}";
            } else {
               $('#second-count').text(count);
               setTimeout("countDown()", 1000);
            }
            count--;
         }

         $('#second-count').text(count);
         setTimeout("countDown()", 1000);
      </script>
   {% elif state == 'active_failed' %}
      <p>帐号激活失败！</p>
   {% endif %}

{% endblock %}