{% extends "layout.html" %}
{% from "macro/form.html" import render_form_errors %}

{% block page_title %}发送激活邮件{% endblock %}
{% block page_id %}page-send-active-email{% endblock %}

{% block body %}

   <form id="form-verify-email" class="form-horizontal" method="post"
         action="{{ url_for('account.send_active_email', user_id=user.id) }}">
      <fieldset>
         <legend>欢迎{{ user.name }}，即将发送激活邮件，请填写你的常用邮箱：</legend>

         {{ form.csrf_token }}

         {{ render_form_errors(form) }}

         <div class='form-group'>
            {{ form.email.label(class="col-md-2 control-label") }}
            <div class="col-md-4">
               {{ form.email(class='form-control') }}
            </div>
         </div>

         <div class='form-group'>
            <div class="col-md-6 col-md-offset-2">
               <input type="submit" value="提交" class="btn btn-primary"/>
            </div>
         </div>

         {{ form.user_id }}
      </fieldset>
   </form>

{% endblock %}