{% extends "layout.html" %}

{% block page_title %}发送激活邮件{% endblock %}
{% block page_id%}page-send-active-email{% endblock %}

{% block body %}

<form id="form-verify-email" class="form-horizontal" method="post" action="{{ url_for('send_active_email', user_id=user.id) }}">
   <fieldset>
      <legend>欢迎{{ user.name }}，即将发送激活邮件，请填写你的常用邮箱：</legend>
      
      {{ form.csrf_token }}
      
      {% from "widget/form.widget" import render_form_error %}
      {{ render_form_error(form)|safe }}

      <div class="input-prepend input-append">
         <span class="add-on">
            <i class="icon-envelope"></i>
         </span>
         
         {{ form.email }}

         <input type="submit" value="提交" class="btn btn-primary" />
      </div>

      {{ form.user_id }}
   </fieldset>
</form>

{% endblock %}