{% extends "layout.html" %}

{% block page_title %}广告{% endblock %}
{% block page_id%}page-ad{% endblock %}

{% block body %}

<div class="row">
   <div class="span8">
      <h2>广告</h2>

      <p>为维持“西窗烛”的持续运营，本站经营广告投放业务。</p>

      <p><b>广告内容</b></p>

      <p>本站主要接受与中国传统文化相关的商品广告投放，包括但不限于：国画、书法、文房四宝、乐器、篆刻、首饰、带有古典风格的服装、茶/茶具等等。</p>

      <p>为什么做出限制？一方面，“西窗烛”的主要展示内容即为传统文学作品，决定了其主要用户对传统文学有较高的亲和力，投放与此相关的广告，会有更高的回报率；另一方面，此类广告与“西窗烛”的整体氛围更加融洽，不但不会破坏用户体验，相反可能还会相映生辉。</p>

      <p><b>展示形式</b></p>

      <p>在单篇作品（如：<a target="_blank" href="{{ url_for('single_work', work_id=10027) }}">李商隐-锦瑟</a>）页面的右侧，会随机出现一张广告图片，点击会进入商品详细介绍页面，然后点击“去逛逛”按钮即可转到您指定的链接。</p>

      <p><b>投放价格</b></p>

      <p>2元/1个月，10元/6个月，20元/1年。</p>

      <p><b>投放方法</b></p>

      <p>请移步淘宝店铺（<a target="_blank" href="http://xczhu.taobao.com/">http://xczhu.taobao.com/</a>），通过阿里旺旺联系店主，提交：一张图片 + 一段文字描述 + 您的店铺链接，然后根据需要拍下宝贝，您的广告即会立刻投放到“西窗烛”网站上。</p>
   </div>

   <div class="span4"></div>
</div>

{% endblock %}