{% extends "layout.html" %}

{% block page_title %}西窗烛 | 品味经典文学{% endblock %}
{% block page_id%}page-index{% endblock %}

{% block body %}

<script type="text/javascript">

$(document).ready(function(){
   $('#work-refresh').click(function(){
      $.ajax({
         url: "{{ url_for('four_works') }}",
         type: 'POST',
         success: function(data){
            $('#4works-wap').html(data);

            // s2t
            var bodyIsFt = $.cookie("bodyIsFt");
            if(bodyIsFt == "1"){
               StranObj($('#4works-wap')[0], 1);
            }
         }
      });
   });
});

</script>

<div class="row">
   <div class="span8">
      <h2>
         作品
         <span class='link-more'>
            <a id="work-refresh">换换</a>
            <a href="{{ url_for('works') }}">更多»</a>
         </span>
      </h2>

      <div id="4works-wap">
         {% include "macro/index_works.widget" %}
      </div>

      <h2>
         点评
         <span class='link-more'>
            <a href="{{ url_for('reviews') }}">更多»</a>
         </span>
      </h2>

      {% from "macro/reviews.widget" import show_reviews %}
      {{ show_reviews(reviews)|safe }}

      <h2>书法</h2>

      <div class='work-image-wap'>
         {% for i in work_images %}
         <a href="{{ url_for('work_image', work_id=i.work_id, image_id=i.id) }}"><img class='work-image' src="{{ i.url }}"></a>
         {% endfor %}
      </div>

      <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.imagesloaded.js') }}"></script>
      <script type="text/javascript">
      $(document).ready(function(){
         var width = 195,
            h_gap = 15,
            v_gap = 15;

         var lefts = [0, width+h_gap, 2*(width+h_gap)],
            tops = [0, 0, 0];

         $('.work-image').each(function(index){
            $(this).css({
               'width': width + 'px',
               'left': lefts[index%3] + 'px'
            });
         });

         $('.work-image').each(function(index){

            // only when a img loaded, it's height becomes known.
            $(this).imagesLoaded(function(){

               $(this).css({
                  'display': 'block',
                  'top': tops[index%3] + 'px'
               });

               // overadd height
               tops[index%3] += $(this).height() + v_gap;

               // set mother wap's height
               var maxHeight = 0;
               for(var i=0; i<tops.length; i++){
                  if(tops[i] > maxHeight){
                     maxHeight = tops[i];
                  }
               }
               $('.work-image-wap').css('height', maxHeight + 'px');
            });
         });
      });
      </script>
   </div>

   <div class="span4">

      <h2>
         文学家
         <span class='link-more'>
            <!-- <a id="author-refresh">换换</a> -->
            <a href="{{ url_for('authors') }}">更多»</a>
         </span>
      </h2>

      {% from 'macro/authors.widget' import show_authors %}
      {{ show_authors(authors)|safe }}

      <h2>五千年</h2>

      <ul id="dynasties-wap">
         {% for dynasty in dynasties %}
         <li class='dynasty-item'>
            <a href="{{ url_for('single_dynasty', dynasty_abbr=dynasty.Abbr) }}">{{ dynasty.Dynasty }}</a>
            <span>/</span>
         </li>
         {% endfor %}
      </ul>
   </div>
</div>

{% endblock %}