{% extends "layout.html" %}
{% from 'macro/ui.html' import render_authors, render_work_reviews, render_work_images %}

{% block page_id %}page-index{% endblock %}
{% block page_title %}西窗烛 | 品味传统文学之美{% endblock %}
{% block description %}本站精心收录了历代文学作品之精华，并提供作品点评、书法创作的分享空间。{% endblock %}

{% block body %}

   <script type="text/javascript">
      $(function () {
         $('#work-refresh').click(function () {
            $.ajax({
               url: "{{ url_for('site.works') }}",
               type: 'POST',
               data: {
                  'csrf_token': '{{ csrf_token() }}'
               },
               success: function (data) {
                  $('#index-works-wap').html(data);

                  // s2t
                  var bodyIsFt = $.cookie("bodyIsFt");
                  if (bodyIsFt == "1") {
                     StranObj($('#4works-wap')[0], 1);
                  }
               }
            });
         });
      });
   </script>

   <div class="row">
      <div class="col-md-8">
         <h2>
            作品
            <span class='link-more'>
               <a id="work-refresh">换换</a>
               <a href="{{ url_for('work.works') }}">更多»</a>
            </span>
         </h2>

         <div id="index-works-wap">
            {% include "macro/index_works.html" %}
         </div>

         <h2>
            点评
            <span class='link-more'>
               <a href="{{ url_for('work.all_reviews') }}">更多»</a>
            </span>
         </h2>

         {{ render_work_reviews(work_reviews) }}

         <h2>
            图片
            <span class='link-more'>
               <a href="{{ url_for('work.all_images') }}">更多»</a>
            </span>
         </h2>

         {{ render_work_images(work_images) }}
      </div>

      <div class="col-md-4">

         <h2>
            文学家
            <span class='link-more'>
               <a href="{{ url_for('author.authors') }}">更多»</a>
            </span>
         </h2>

         {{ render_authors(authors) }}

         <h2>五千年</h2>

         <ul id="dynasties-wap" class="clearfix">
            {% for dynasty in dynasties %}
               <li class='dynasty-item'>
                  <a href="{{ url_for('dynasty.view', dynasty_abbr=dynasty.abbr) }}">{{ dynasty.name }}</a>
                  {% if not loop.last %}
                     <span>/</span>
                  {% endif %}
               </li>
            {% endfor %}
         </ul>

         <h2>下载 iOS 版</h2>

         <a href="https://itunes.apple.com/cn/app/xi-chuang-zhu/id912139104" target="_blank">
            <img src="{{ static('img/itunes.png') }}"
                 class="img-responsive itunes-img" alt=""/>
         </a>
      </div>
   </div>

{% endblock %}
