{% extends "layout.html" %}

{% block page_title %}编辑朝代{% endblock %}
{% block page_id %}page-edit-dynasty{% endblock %}

{% block body %}

   <form id="form-edit-dynasty" class="form-horizontal" method="post"
         action="{{ url_for('dynasty.edit', dynasty_id=dynasty.id) }}">
      <fieldset>
         <legend>编辑朝代</legend>

         <div class="form-group">
            <label class="col-md-2 control-label" for="input-dynasty">朝代</label>
            <div class="col-md-3">
               <input type="text" name="name" id="input-dynasty" value="{{ dynasty.name }}" class='form-control'/>
            </div>
         </div>

         <div class="form-group">
            <label class="col-md-2 control-label">拼音</label>
            <div class="col-md-3">
               <input type="text" name="abbr" value="{{ dynasty.abbr }}" class='form-control'/>
            </div>
         </div>

         <div class="form-group">
            <label class="col-md-2 control-label" for="input-start">起始年</label>
            <div class="col-md-3 input-group">
               <input type="text" name="start_year" id="input-start" value="{{ dynasty.start_year }}"
                      class='form-control'/>
               <span class="input-group-addon">年</span>
            </div>
         </div>

         <div class="form-group">
            <label class="col-md-2 control-label" for="input-end">结束年</label>
            <div class="col-md-3 input-group">
               <input type="text" name="end_year" id="input-end" value="{{ dynasty.end_year }}" class='form-control'/>
               <span class="input-group-addon">年</span>
            </div>
         </div>

         <div class="form-group">
            <label class="col-md-2 control-label" for="input-intro">简介</label>
            <div class="col-md-6">
               <textarea rows="8" name="intro" id="input-intro" class='form-control'>{{ dynasty.intro }}</textarea>
            </div>
         </div>

         <div class="form-group">
            <div class="col-md-6 col-md-offset-2">
               <input type="submit" value="提交" class="btn btn-small btn-primary"/>
            </div>
         </div>
      </fieldset>
   </form>

{% endblock %}