{% extends "layout.html" %}
{% from "macro/form.html" import horizontal_field %}

{% block page_title %}引语管理 - {{ author.dynasty.name }}{% endblock %}
{% block page_id %}page-admin-quotes{% endblock %}

{% block body %}

   <script type="text/javascript">
      $(function () {
         $('.btn-rm-quote').click(function () {
            return confirm('确定删除此引语？');
         });
      });
   </script>

   <h2>〔{{ author.dynasty.name }}〕{{ author.name }} / 引语</h2>

   <table class="table table-striped table-hover">
      <thead>
      <tr>
         <th>引语</th>
         <th>出自</th>
         <th>操作</th>
      </tr>
      </thead>

      <tbody>
      {% for q in author.quotes %}
         <tr>
            <td>{{ q.quote }}</td>
            <td>{{ q.work.title }}</td>
            <td>
               <div class='btn-group btn-group-sm'>
                  <a class="btn btn-default" title="编辑"
                     href="{{ url_for('author.edit_quote', quote_id=q.id) }}">
                     <span class="glyphicon glyphicon-edit"></span>
                  </a>
                  <a class="btn btn-default btn-rm-quote" title='删除'
                     href="{{ url_for('author.delete_quote', quote_id=q.id) }}">
                     <span class="glyphicon glyphicon-trash"></span>
                  </a>
               </div>
            </td>
         </tr>
      {% endfor %}
      </tbody>
   </table>

   <form id="form-add-quote" class="form-horizontal" method="post"
         action="{{ url_for('author.admin_quotes', author_id=author.id) }}">
      <fieldset>
         <legend>添加引语</legend>

         {{ form.csrf_token }}

         {{ horizontal_field(form.quote) }}

         {{ horizontal_field(form.work_id) }}

         {{ form.author_id() }}

         <div class="form-group">
            <div class="col-md-6 col-md-offset-2">
               <input type="submit" value="添加" class="btn btn-primary"/>
            </div>
         </div>
      </fieldset>
   </form>

{% endblock %}