{% extends "layout.html" %}

{% block page_title %}引语管理{% endblock %}
{% block page_id%}page-admin-quotes{% endblock %}

{% block body %}

<h2>〔{{ author.dynasty.name }}〕{{ author.name }} / 引语</h2>

<table class="table table-bordered table-striped">
   <thead>
      <th>引语</th>
      <th>出自</th>
      <th>操作</th>
   </thead>

   <tbody>
      {% for q in author.quotes %}
      <tr>
         <td>{{ q.quote }}</td>
         <td>{{ q.work.title }}</td>
         <td>
            <a class="btn btn-small" href="{{ url_for('edit_quote', quote_id=q.id) }}"><span class="icon-edit"></span> 编辑</a>
            <a class="btn btn-small" href="{{ url_for('delete_quote', quote_id=q.id) }}"><span class="icon-remove"></span> 删除</a>
         </td>
      </tr>
      {% endfor %}
   </tbody>
</table>

<form id="form-add-quote" class="form-horizontal" method="post" action="{{ url_for('add_quote', author_id=author.id) }}">
   <fieldset>
      <legend>添加引语</legend>

      <div class="control-group">
         <label class="control-label">引语</label>
         <div class="controls">
            <input type="text" class="input-xlarge" name="quote" />
         </div>
      </div>

      <div class="control-group">
         <label class="control-label">出自</label>
         <div class="controls">
            <input type="text" class="input-xlarge" name="work_id" />
         </div>
      </div>

      <div class="control-group">
         <div class="controls">
            <input type="submit" value="提交" class="btn btn-primary" />
         </div>
      </div>

   </fieldset>
</form>

{% endblock %}