{% extends "layout.html" %}

{% block page_title %}编辑文学家{% endblock %}
{% block page_id %}page-edit-author{% endblock %}

{% block body %}

   <form id="form-edit-author" class="form-horizontal" method="post"
         action="{{ url_for('edit_author', author_id=author.id) }}">
      <fieldset>
         <legend>编辑文学家</legend>

         <div class="form-group">
            <label class="col-md-2 control-label">姓名</label>

            <div class="col-md-3">
               <input type="text" class="form-control" name="name" value="{{ author.name }}"/>
            </div>
         </div>

         <div class="form-group">
            <label class="col-md-2 control-label">拼音缩写</label>

            <div class="col-md-3">
               <input type="text" class="form-control" name="abbr" value="{{ author.abbr }}"/>
            </div>
         </div>

         <div class="form-group">
            <label class="col-md-2 control-label">朝代</label>

            <div class="col-md-3">
               <select name='dynasty_id' class="form-control">
                  {% for d in dynasties %}
                     <option value="{{ d.id }}"
                           {% if d.id == author.dynasty_id %}
                             selected="selected"
                           {% endif %}>
                        {{ d.name }}
                     </option>
                  {% endfor %}
               </select>
            </div>
         </div>

         <div class="form-group">
            <label class="col-md-2 control-label">生年</label>

            <div class="col-md-3 input-group">
               <input type="text" class="form-control" name="birth_year" value="{{ author.birth_year }}"/>
               <span class="input-group-addon">年</span>
            </div>
         </div>

         <div class="form-group">
            <label class="col-md-2 control-label">卒年</label>

            <div class="col-md-3 input-group">
               <input type="text" class="form-control" name="death_year" value="{{ author.death_year }}"/>
               <span class="input-group-addon">年</span>
            </div>
         </div>

         <div class="form-group">
            <label class="col-md-2 control-label">简介</label>

            <div class="col-md-6">
               <textarea rows="10" class="form-control" name="intro">{{ author.intro }}</textarea>
            </div>
         </div>

         <div class="form-group">
            <div class="col-md-6 col-md-offset-2">
               <input type="submit" value="提交" class="btn btn-primary"/>
            </div>
         </div>
      </fieldset>
   </form>

{% endblock %}