{% extends "layout.html" %}

{% block page_title %}编辑文学家{% endblock %}
{% block page_id%}page-edit-author{% endblock %}

{% block body %}

<form id="form-edit-author" class="form-horizontal" method="post" action="{{ url_for('edit_author', author_id=author.id) }}">
   <fieldset>
      <legend>编辑文学家</legend>

      <div class="control-group">
         <label class="control-label">姓名</label>
         <div class="controls">
            <input type="text" name="name" value="{{ author.name }}" />
         </div>
      </div>

      <div class="control-group">
         <label class="control-label">拼音缩写</label>
         <div class="controls">
            <input type="text" name="abbr" value="{{ author.abbr }}" />
         </div>
      </div>

      <div class="control-group">
         <label class="control-label">朝代</label>
         <div class="controls">
            <select name='dynasty_id'>
               {% for d in dynasties %}
               <option value="{{ d.id }}"
                  {% if d.id == author.dynasty_id %}
                  selected="selected"
                  {% endif %}>
                  {{ d.name }}
               </option>
               {% endfor %}
            </select>
         </div>
      </div>
      
      <div class="control-group">
         <label class="control-label">生年</label>
         <div class="controls input-append">
            <input type="text" name="birth_year" value="{{ author.birth_year }}" />
            <span class="add-on">年</span>
         </div>
      </div>
      
      <div class="control-group">
         <label class="control-label">卒年</label>
         <div class="controls input-append">
            <input type="text" name="death_year" value="{{ author.death_year }}" />
            <span class="add-on">年</span>
         </div>
      </div>

      <div class="control-group">
         <label class="control-label">简介</label>
         <div class="controls">
            <textarea rows="10" class="input-xxlarge" name="intro">{{ author.intro }}</textarea>
         </div>
      </div>

      <div class="control-group">
         <div class="controls">
            <input type="submit" value="提交" class="btn btn-small btn-primary" />
         </div>
      </div>
   </fieldset>
</form>

{% endblock %}