{% extends "layout.html" %}

{% block page_title %}编辑引语{% endblock %}
{% block page_id%}page-edit-quote{% endblock %}

{% block body %}

<form id="form-edit-quote" class="form-horizontal" method="post" action="{{ url_for('edit_quote', quote_id=quote.id) }}">
   <fieldset>
      <legend>编辑引语</legend>

      <div class="control-group">
         <label class="control-label">引语</label>
         <div class="controls">
            <input type="text" class="input-xlarge" name="quote" value="{{ quote.quote }}" />
         </div>
      </div>

      <div class="control-group">
         <label class="control-label">出自</label>
         <div class="controls">
            <input type="text" class="input-xlarge" name="work_id" value="{{ quote.work_id }}" />
         </div>
      </div>

      <div class="control-group">
         <div class="controls">
            <input type="submit" value="提交" class="btn btn-small btn-primary" />
         </div>
      </div>
   </fieldset>
</form>

{% endblock %}