{% extends "layout.html" %}
{% from "macro/form.html" import horizontal_field %}

{% block page_title %}编辑名言 - {{ quote.author.name }}{% endblock %}
{% block page_id %}page-author-edit-quote{% endblock %}

{% block body %}

   <form id="form-edit-quote" class="form-horizontal" method="post"
         action="{{ url_for('author.edit_quote', quote_id=quote.id) }}">
      <fieldset>
         <legend>编辑名言</legend>

         {{ form.csrf_token }}

         <div class="form-group">
            <label class="col-sm-2 control-label">文学家</label>

            <div class="col-sm-6 form-control-static">
               <p>{{ quote.author.name }}</p>
            </div>
         </div>

         {{ horizontal_field(form.quote) }}

         {{ horizontal_field(form.work_id) }}

         <div class="form-group">
            <div class="col-md-6 col-md-offset-2">
               <input type="submit" value="提交" class="btn btn-primary"/>
            </div>
         </div>
      </fieldset>
   </form>

{% endblock %}