{% extends "layout.html" %}
{% from "macro/form.html" import field_errors %}

{% block page_title %}上传图片{% endblock %}
{% block page_id %}page-add-work-image{% endblock %}

{% block body %}

   <form id="form-add-work" class="form-horizontal" method="post"
         action="{{ url_for('work.add_image', work_id=work.id) }}" enctype="multipart/form-data">
      <fieldset>
         <legend>为《{{ work.title }}》上传图片</legend>

         {{ form.csrf_token }}

         <div class="form-group">
            <label class="control-label col-md-2">图片</label>
            <div class="col-md-6">
               {{ form.image }}
               <p class="help-block">图片大小不超过5M</p>
               {{ field_errors(form.image) }}
            </div>
         </div>

         <div class="form-group">
            <div class="col-md-6 col-md-offset-2">
               <input type="submit" value="上传" class="btn btn-small btn-primary"/>
            </div>
         </div>
      </fieldset>
   </form>

{% endblock %}