{% extends "layout.html" %}
{% from "macro/form.html" import field_errors %}

{% block page_title %}上传图片{% endblock %}
{% block page_id %}page-add-work-image{% endblock %}

{% block body %}

   <div class="row">
      <div class="col-sm-9">
         <h2 class="legend legend-lg">为《{{ work.title }}》上传图片</h2>
      </div>

      <div class="col-sm-8">
         <form id="form-add-work" class="form-horizontal" method="post"
               action="{{ url_for('work.add_image', work_id=work.id) }}"
               enctype="multipart/form-data">
            <fieldset>

               {{ form.csrf_token }}

               <div class="form-group">
                  <label class="control-label col-md-2">图片</label>

                  <div class="col-md-8 form-control-static">
                     <img class="preview" src="" alt=""/>

                     <div class="progress">
                        <div class="progress-bar" style="width: 0%;"></div>
                     </div>
                     <button type="button" class="btn btn-default btn-xs" id="btn-upload-image">
                        选择图片
                     </button>
                     <p class="help-block">图片大小不超过10M</p>
                     {{ form.image }}
                     {{ field_errors(form.image) }}
                  </div>
               </div>

               <div class="form-group">
                  <div class="col-md-6 col-md-offset-2">
                     <input type="submit" value="保存" class="btn btn-sm btn-primary"/>
                  </div>
               </div>
            </fieldset>
         </form>
      </div>
   </div>

   {{ js('bower_components/plupload/js/plupload.full.min.js') }}
   {{ js('bower_components/plupload/js/i18n/zh_CN.js') }}
   <script type="text/javascript">
      var uploader = new plupload.Uploader({
         browse_button: 'btn-upload-image',
         url: "{{ url_for('work.upload_image') }}",
         multipart_params: {
            csrf_token: "{{ csrf_token() }}"
         },
         filters: {
            max_file_size: '10mb'
         }
      });

      uploader.init();

      // 文件添加后立即启动上传
      uploader.bind('FilesAdded', function (up, files) {
         uploader.setOption();

         plupload.each(files, function (file) {
            uploader.start();
         });
      });

      var errorList = $('.list-form-errors');

      // 上传结束
      uploader.bind('FileUploaded', function (up, file, info) {
         var response = $.parseJSON(info.response);
         if (response.status === 'yes') {
            $('#image').val(response.filename);
            $('.preview').show().attr('src', response.url);
            errorList.empty();
         } else if (response.status === 'no') {
            errorList.html("<li>" + response.error + "</li>");
         } else {
            errorList.html("<li>上传失败，请刷新页面后再试。</li>");
         }
      });

      // 显示文件上传进度条
      uploader.bind('UploadProgress', function (up, file) {
         $('.progress-bar').css('width', file.percent + '%').text(file.percent + "%");
      });

      // 上传失败
      uploader.bind('Error', function (up, error) {
         errorList.html("<li>" + error.message + "</li>");
      });
   </script>

{% endblock %}