{% extends "layout.html" %}
{% from "macro/form.html" import horizontal_field %}

{% block page_title %}编辑点评：{{ review.title }}{% endblock %}
{% block page_id %}page-edit-review{% endblock %}

{% block body %}

   <form id="form-edit-review" class="form-horizontal" method="post"
         action="{{ url_for('work.edit_review', review_id=review.id) }}">
      <fieldset>
         <legend>编辑点评</legend>

         {{ form.csrf_token }}

         {{ horizontal_field(form.title) }}

         {{ horizontal_field(form.content, rows='20') }}

         <div class="form-group">
            <div class="col-md-6 col-md-offset-2 btn-group">
               {% if review.is_publish %}
                  <input type="submit" name="publish" value="更新" class="btn btn-default btn-primary"/>
               {% else %}
                  <input type="submit" name="draft" value="保存草稿" class="btn btn-default"/>
                  <input type="submit" name="publish" value="发布" class="btn btn-default btn-primary"/>
               {% endif %}
            </div>
         </div>

      </fieldset>
   </form>

{% endblock %}