{% extends "layout.html" %}

{% block page_title %}编辑作品{% endblock %}
{% block page_id %}page-edit-work{% endblock %}

{% block body %}

   <script type="text/javascript">
      $(function () {
         $('#btn-search-author').click(function () {
            var author_name = $('#input-author-name').val();
            $.ajax({
               'url': "{{ url_for('work.search_authors') }}",
               'type': 'POST',
               'dataType': 'json',
               'data': {
                  'author_name': author_name
               },
               'success': function (authors) {
                  $('#select-author').empty();

                  $.each(authors, function (index, author) {
                     var option = "<option value=" + author['id'] + ">〔" + author['dynasty'] + '〕' + author['name'] + "</option>";
                     $(option).appendTo('#select-author');
                  });
               }
            });
         });
      });
   </script>

   <form id="form-edit-work" class="form-horizontal" method="post" action="{{ url_for('work.edit', work_id=work.id) }}">
      <fieldset>
         <legend>编辑作品</legend>

         <div class="form-group">
            <label class="col-md-2 control-label">类别</label>

            <div class="col-md-3">
               <select name='type_id' class='form-control'>
                  {% for type in work_types %}
                     <option value='{{ type.id }}'
                             {% if work.type_id == type.id %}selected="selected"{% endif %}>{{ type.cn }}</option>
                  {% endfor %}
               </select>
            </div>
         </div>

         <div class="form-group">
            <label class="col-md-2 control-label">标题</label>

            <div class="col-md-3">
               <input type="text" name="title" value="{{ work.title }}" class='form-control'/>
            </div>
         </div>

         <div class="form-group">
            <label class="col-md-2 control-label">作者</label>

            <div class=" col-md-3 input-group">
               <input id="input-author-name" type="text" class='form-control' value="{{ work.author.name }}"/>
            <span class='input-group-btn'>
               <button id="btn-search-author" class="btn btn-default"><span class='glyphicon glyphicon-search'></span>
               </button>
            </span>
            </div>
         </div>

         <div class="form-group">
            <div class="col-md-3 col-md-offset-2">
               <select id="select-author" name="author_id" class='form-control'>
                  <option value="{{ work.author_id }}">〔{{ work.author.dynasty.name }}〕{{ work.author.name }}</option>
               </select>
            </div>
         </div>

         <div class="form-group">
            <label class="col-md-2 control-label">小序</label>

            <div class="col-md-6">
               <textarea class='form-control' name="foreword" rows='5'>{{ work.foreword }}</textarea>
            </div>
         </div>

         <div class="form-group">
            <label class="col-md-2 control-label">题解</label>

            <div class="col-md-6">
               <textarea class='form-control' name="intro" rows='5'>{{ work.intro }}</textarea>
            </div>
         </div>

         <div class="form-group">
            <label class="col-md-2 control-label">内容</label>

            <div class="col-md-6">
               <textarea class='form-control' name="content" id="work-content" rows='15'>{{ work.content }}</textarea>
            </div>
         </div>

         <div class="form-group">
            <div class="col-md-6 col-md-offset-2">
               <input type="submit" value="提交" class="btn btn-small btn-primary"/>
            </div>
         </div>
      </fieldset>
   </form>

{% endblock %}
