{% extends "layout.html" %}
{% from 'macro/ui.html' import render_comments %}
{% from "macro/form.html" import field_errors %}

{% block page_title %}{{ review.title }} - 点评：{{ review.work.author.name }}《{{ review.work.title }}》{% endblock %}
{% block page_id %}page-review{% endblock %}

{% block body %}

   {% if session.user_id %}
      <script type="text/javascript">
         // move the blink to the end of the input/textarea
         function moveEnd(obj) {
            obj.focus();
            var len = obj.value.length;

            if (document.selection) {
               var sel = obj.createTextRange();
               sel.moveStart('character', len);
               sel.collapse();
               sel.select();
            } else if (typeof obj.selectionStart == 'number' && typeof obj.selectionEnd == 'number') {
               obj.selectionStart = obj.selectionEnd = len;
            }
         }

         $(function () {
            $('.comment-item').hover(
                  function () {
                     $(this).find('.btn-reply-somebody').show();
                  },
                  function () {
                     $(this).find('.btn-reply-somebody').hide();
                  }
            );

            $('.btn-reply-somebody').click(function () {
               var target_username = $(this).attr('data-username'),
                     comment = $(".textarea-comment").val();
               $(".textarea-comment").val("@" + target_username + " " + comment);
               moveEnd($(".textarea-comment")[0]);
            });

            // confirm delete
            $('#btn-delete-review').click(function () {
               return confirm('确认删除？') ? true : false;
            });
         });
      </script>
   {% endif %}

   <div class="row">
      <div class="col-md-8">
         <a href="{{ url_for('user.view', user_abbr=review.user.abbr) }}" class="user-avatar">
            <img src="{{ review.user.avatar }}">
         </a>

         <h1 class="review-title">
            {{ review.title }}
            {% if not review.is_publish %}
               <sup><span class='label label-primary'>草稿</span></sup>
            {% endif %}
         </h1>

         <div class="review-extra-info">
            <a href="{{ url_for('user.view', user_abbr=review.user.abbr) }}">{{ review.user.name }}</a>
            <span style="color:#333;">评</span>
            <a href="{{ url_for('work.view', work_id=review.work_id) }}">{{ review.work.title }}</a>
            <span style="color:#333;">〔{{ review.work.author.name }}〕</span>
            ·
            <span class="review-time">{{ review.friendly_create_time }}</span>
            ·
            <span>{{ review.click_num }} 点击</span>

            {% if session.user_id == review.user_id %}
               <a id="btn-edit-review" href="{{ url_for('work.edit_review', review_id=review.id) }}">编辑</a>
               /
               <a id="btn-delete-review" href="{{ url_for('work.delete_review', review_id=review.id) }}">删除</a>
            {% endif %}
         </div>

         <div class="review-content">{{ review.friendly_content|safe }}</div>

         {% if review.comments|length != 0 %}
            <h2>回复</h2>

            {{ render_comments(review.comments) }}
         {% endif %}

         {% if session.user_id %}
            <form id="add-review-comment" method="post"
                  action="{{ url_for('work.review', review_id=review.id) }}">
               {{ form.csrf_token }}

               {{ form.content(class="form-control textarea-comment", rows="4", placeholder="添加回复") }}
               {{ field_errors(form.content) }}

               <input type="submit" class="btn btn-sm btn-default" value="回复"/>
            </form>
         {% endif %}
      </div>

      <div class="col-md-4"></div>
   </div>

{% endblock %}