{% extends "layout.html" %}
{% from 'macro/ui.html' import render_users, render_work_reviews, render_work_images, app_panel %}

{% block page_title %}{{ work.title }} - {{ work.author.name }}{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/style/work/vertical_work.css">{% endblock %}
{% block description %}{{ work.author.name }}{{ work.type.cn }}《{{ work.title }}
    》正文、注释、点评、相关图片等。{% endblock %}
{% block page_id %}page-vertical-work{% endblock %}

{% block body %}
    <div class="work-title">
        {{ work.title }}
    </div>

    <div class="work-author">
        〔<a
            href="{{ url_for('dynasty.view', uid = work.author.dynasty_id) }}">{{ work.author.dynasty.name }}</a>〕<a
            href="{{ url_for('author.view', author_id=work.author.id) }}">{{ work.author.name }}</a>
    </div>

    <div class="work-content work-type-{{ work.type.en }} work-layout-{{ work.layout }}">
        {{ work.content|markdown_work|safe }}
    </div>
    
    {% if work.intro %}
        <div class="divider"></div>

        <div class="work-introduction">{{ work.intro|markdown|safe }}</div>
    {% endif %}

    <div class="logo">
        <a href="http://www.xichuangzhu.com" target="_blank"><img src="/static/img/favicon.png" alt=""></a>
    </div>

    <script type="text/javascript">
        var left = $(document).outerWidth() - $(window).width();

        // $('#main-wap').s2t();

        adjustHeight();
        $('body, html').scrollLeft(left);
        $('.work-content sup').detach();
        $('body').on("mousewheel", mouseWheelEvt);

        $(window).resize(function () {
            adjustHeight();
        });

        /**
         * 滚动鼠标滚轮时窗口左右滑动
         * @param event
         * @returns {boolean}
         */
        function mouseWheelEvt(event) {
            if (document.body.doScroll)
                document.body.doScroll(event.wheelDelta > 0 ? "left" : "right");
            else if ((event.wheelDelta || event.detail) > 0)
                document.body.scrollLeft -= 10;
            else
                document.body.scrollLeft += 10;

            return false;
        }

        function adjustHeight() {
            var windowHeight = $(window).height();

            if (windowHeight < 600 + 60 * 2) {
                $('#main-wap').height(windowHeight - 60 * 2).css('paddingRight', 60);
            } else {
                $('#main-wap').height(600).css('paddingRight', 100);
            }
        }
    </script>
{% endblock %}