{% extends "layout.html" %}

{% block page_title %}作品标签 - {{ tag }}{% endblock %}
{% block page_id%}page-works-by-tag{% endblock %}

{% block body %}

<div class="row">
   <div class="span8">
      <h2>作品标签 - {{ tag }}</h2>

      {% from "widget/works.widget" import render_works %}
      {{ render_works(pagination.items)|safe }}

      {% from "widget/pagination.widget" import render_pagination %}
      {{ render_pagination(pagination)|safe }}
   </div>

   <div class="span4"></div>
</div>

{% endblock %}