{% extends "layout.html" %}

{% block page_title %}{{ work.author.name }}《{{ work.title }}》的点评{% endblock %}
{% block page_id%}page-work-reviews{% endblock %}

{% block body %}

<div class="row">
   <div class="col-md-8">
      <h2>《{{ work.title }}》的点评 / {{ pagination.total }}</h2>

      {% from "widget/reviews.widget" import render_reviews %}
      {{ render_reviews(pagination.items)|safe }}

      {% from "widget/pagination.widget" import render_pagination %}
      {{ render_pagination(pagination)|safe }}
   </div>

   <div class="col-md-4">
   </div>
</div>

{% endblock %}