{% extends "layout.html" %}

{% block page_title %}作品图片{% endblock %}
{% block page_id%}page-work-image{% endblock %}

{% block body %}

<div class='row'>
   <div class='span8'>
      <p class='image-info'>
         <a href="{{ url_for('user', user_abbr=image.user_abbr) }}">{{ image.user_name }}</a> 发表于 <a href="{{ url_for('single_work', work_id=work.WorkID) }}">{{ work.Title }}</a>：
      </p>

      <div class='image-wap'>
         <img src="{{ image.url }}" />
      </div>

      <blockquote>
         <p>{{ work.Content|truncate(100, True) }}</p>
         <small>〔{{ work.Dynasty }}〕{{ work.Author }}</small>
      </blockquote>
   </div>

   <div class='span4'></div>
</div>

{% endblock %}