{% extends "layout.html" %}

{% block page_title %}作品{% endblock %}
{% block page_id%}page-works{% endblock %}

{% block body %}

<script type="text/javascript">

$(document).ready(function(){
	var dynasty = $("#dynasty-selector li[class='active']").text();
	var work_type = $("#type-selector li[class='active']").text();

	if(dynasty == '全部' && work_type == '全部'){
		$('#dynasty_type_tag').text('作品');
	}
	else if(dynasty == '全部'){
		$('#dynasty_type_tag').text(work_type);
	}
	else if(work_type == '全部'){
		$('#dynasty_type_tag').text(dynasty);
	}
	else{
		$('#dynasty_type_tag').text(dynasty + ' / ' + work_type);
	}
});

</script>

<div class="row">
	<div class="span8">
		<h2><span id="dynasty_type_tag"></span> / {{ works_num }}</h2>

		{% from "macro/works.widget" import show_works %}
		{{ show_works(works)|safe }}

		<div class="pagination">
			<ul>
				<li><a href="{{ url_for('works') }}?page={{ pre_page }}&type={{ work_type }}&dynasty={{ dynasty_abbr }}"><<</a></li>
				<li><a>{{ page }} / {{ total_page }}</a></li>
				<li><a href="{{ url_for('works') }}?page={{ next_page }}&type={{ work_type }}&dynasty={{ dynasty_abbr }}">>></a></li>
			</ul>
		</div>
	</div>

	<div class="span4">
		<h2>年代</h2>
		<ul id="dynasty-selector">
			<li {% if dynasty_abbr == 'all' %}class="active"{% endif %}
			><a href="{{ url_for('works') }}?type={{ work_type }}&dynasty=all">全部</a></li>

			{% for dynasty in dynasties %}
			<li {% if dynasty_abbr == dynasty.Abbr %}class="active"{% endif %}
			><a href="{{ url_for('works') }}?type={{ work_type }}&dynasty={{ dynasty.Abbr }}">{{ dynasty.Dynasty }}</a></li>
			{% endfor %}
		</ul>

		<h2>体裁</h2>
		<ul id="type-selector">
			<li {% if work_type == 'all' %}class="active"{% endif %}
			><a href="{{ url_for('works') }}?type=all&dynasty={{ dynasty_abbr }}">全部</a></li>

			{% for type in work_types %}
			<li {% if work_type == type.WorkType %}class="active"{% endif %}
			><a href="{{ url_for('works') }}?type={{ type.WorkType }}&dynasty={{ dynasty_abbr }}">{{ type.TypeName }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>

{% endblock %}