{% extends "layout.html" %}

{% block page_title %}{{ work.author.name }}《{{ work.title }}》相关图片{% endblock %}
{% block page_id %}page-work-images{% endblock %}

{% block body %}

   <div class="row">
      <div class="span8">
         <h2>《{{ work.title }}》相关图片 / {{ pagination.total }}</h2>

         {% from "widget/work_images.widget" import render_work_images %}
         {{ render_work_images(pagination.items)|safe }}

         {% from "widget/pagination.widget" import render_pagination %}
         {{ render_pagination(pagination)|safe }}

      </div>

      <div class="span4"></div>
   </div>

{% endblock %}