{% extends "layout.html" %}

{% block page_title %}作品标签 - {{ tag }}{% endblock %}
{% block page_id%}page-works-by-tag{% endblock %}

{% block body %}

<div class="row">
   <div class="span8">
      <h2>标签 - {{ tag }}</h2>

      {% from "macro/works.widget" import show_works %}
      {{ show_works(works)|safe }}

      <div class="pagination">
         <ul>
            <li><a href="{{ url_for('works_by_tag', tag=tag) }}?page={{ pre_page }}"><<</a></li>
            <li><a>{{ page }} / {{ total_page }}</a></li>
            <li><a href="{{ url_for('works_by_tag', tag=tag) }}?page={{ next_page }}">>></a></li>
         </ul>
      </div>
   </div>

   <div class="span4"></div>
</div>

{% endblock %}