{% extends "layout.html" %}

{% block page_title %}《{{ work.Title }}》的书法作品{% endblock %}
{% block page_id%}page-work-images{% endblock %}

{% block body %}

<div class="row">
   <div class="span8">
      <h2>《{{ work.Title }}》的书法作品 / {{ work_images_num }}</h2>

      {% from "widget/work_images.widget" import render_work_images %}
      {{ render_work_images(work_images)|safe }}
      
      {% from "widget/pagination.widget" import render_pagination %}
      {{ render_pagination(pagination)|safe }}
      
   </div>

   <div class="span4"></div>
</div>

{% endblock %}