{% extends "layout.html" %}

{% block page_title %}发起新话题{% endblock %}
{% block page_id%}page-add-topic{% endblock %}

{% block body %}

<form id="form-add-topic" class="form-horizontal" method="post" action="{{ url_for('add_topic') }}">
   <fieldset>
      <legend>发起新话题</legend>

      {{ form.csrf_token }}

      {% from "widget/form.widget" import render_form_error %}
      {{ render_form_error(form)|safe }}

      <div class="form-group">
         {{ form.title.label(class="col-md-2 control-label") }}
         <div class="col-md-3">
            {{ form.title(class="input-xlarge") }}
         </div>
      </div>

      <div class="form-group">
         {{ form.content.label(class="col-md-2 control-label") }}
         <div class="col-md-3">
            {{ form.content(class="input-xxlarge", rows="15") }}
         </div>
      </div>

      <div class="form-group">
         <div class="col-md-3">
            <input type="submit" value="提交" class="btn btn-primary btn-small" />
         </div>
      </div>
   </fieldset>
</form>

{% endblock %}