{% extends "layout.html" %}

{% block page_title %}编辑话题{% endblock %}
{% block page_id%}page-edit-topic{% endblock %}

{% block body %}

<form id="form-edit-topic" class="form-horizontal" method="post" action="{{ url_for('edit_topic', topic_id=topic.id) }}">
   <fieldset>
      <legend>发起新话题</legend>

      {{ form.csrf_token }}

      {% from "widget/form.widget" import render_form_error %}
      {{ render_form_error(form)|safe }}

      <div class="control-group">
         {{ form.title.label(class="control-label") }}
         <div class="controls">
            {{ form.title(class="input-xlarge") }}
         </div>
      </div>

      <div class="control-group">
         {{ form.content.label(class="control-label") }}
         <div class="controls">
            {{ form.content(class="input-xxlarge", rows="15") }}
         </div>
      </div>

      <div class="control-group">
         <div class="controls">
            <input type="submit" value="提交" class="btn btn-primary btn-small" />
         </div>
      </div>
   </fieldset>
</form>

{% if session.user_id %}
<div class="modal hide fade" id="modal-nodes">
   <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h4>全部节点</h4>
   </div>

   <div class="modal-body">
      {% for nt in node_types %}
      {% if nt.nodes|length != 0 %}
      <div class="type-item clearfix">
         <div class="node-type">{{ nt.Type }}</div>
         <ul class="node-list">
            {% for n in nt.nodes %}
            <li class="node"><a data-node-id="{{ n.NodeID }}">{{ n.Name }}</a></li>
            {% endfor %}
         </ul>
      </div>
      {% endif %}
      {% endfor %}
   </div>
</div>
{% endif %}

{% endblock %}