{% extends "layout.html" %}

{% block page_title %}话题{% endblock %}
{% block page_id%}page-topics{% endblock %}

{% block extra_info %}Inspired by <a href='https://www.v2ex.com' target='_blank'>V2EX</a>{% endblock %}

{% block body %}

<div class="row">
   <div class="span8">
      <h2 class="node-info">
         <!-- <a href="{{ url_for('topics') }}" class="root-node">话题</a> -->
         <span>话题</span>
         {% if session.user_id %}
         <a class="btn btn-small new-topic" href="{{ url_for('add_topic') }}">发起新话题</a>
         {% endif %}
      </h2>

      {% from "macro/topics.widget" import show_topics %}
      {{ show_topics(topics)|safe }}

      <!-- <h2>节点导航</h2>
      {% for nt in node_types %}
      {% if nt.nodes|length != 0 %}
      <div class="type-item clearfix">
         <div class="node-type">{{ nt.Type }}</div>
         <ul class="node-list">
            {% for n in nt.nodes %}
            <li class="node"><a href="{{ url_for('single_node', node_abbr=n.Abbr) }}">{{ n.Name }}</a></li>
            {% endfor %}
         </ul>
      </div>
      {% endif %}
      {% endfor %} -->
   </div>

   <div class="span4">
      <!-- <h2>最热节点</h2>

      <ul class="node-list">
      {% for n in nodes %}
      <li class="node"><a href="{{ url_for('single_node', node_abbr=n.Abbr) }}">{{ n.Name }}</a></li>
      {% endfor %}
      </ul> -->

      <!-- <h2>近期热议</h2>

      {% for t in hot_topics %}
      <div class="ht-item">
         <a class="ht-user-avatar" href="{{ url_for('user', user_abbr=t.UserAbbr) }}"><img src="{{ t.Avatar }}"></a>
         <span class="ht-title"><a href="{{ url_for('single_topic', topic_id=t.TopicID) }}">{{ t.Title }}</a></span>
      </div>
      {% endfor %} -->
      <ul class='topic-tips'>
         <li>话题讨论</li>
         <li>建议与反馈</li>
         <li>推荐文学家/作品</li>
         <li>作品勘误</li>
      </ul>
   </div>
</div>

{% endblock %}