{% extends "layout.html" %}
{% from "macro/ui.html" import render_comments %}
{% from "macro/form.html" import field_errors %}

{% block page_title %}{{ topic.title }} - 话题{% endblock %}
{% block page_id %}page-topic{% endblock %}

{% block body %}

   {% if g.user %}
      <script type="text/javascript">
         // move the blink to the end of the input/textarea
         function moveEnd(obj) {
            obj.focus();
            var len = obj.value.length;

            if (document.selection) {
               var sel = obj.createTextRange();
               sel.moveStart('character', len);
               sel.collapse();
               sel.select();
            } else if (typeof obj.selectionStart == 'number' && typeof obj.selectionEnd == 'number') {
               obj.selectionStart = obj.selectionEnd = len;
            }
         }

         $(function () {
            $('.btn-delete-topic').click(function () {
               return confirm('确认删除此话题？');
            });

            $('.comment-item').hover(
                  function () {
                     $(this).find('.btn-reply-somebody').show();
                  },
                  function () {
                     $(this).find('.btn-reply-somebody').hide();
                  }
            );

            $('.btn-reply-somebody').click(function () {
               var target_username = $(this).attr('data-username');
               var comment = $(".textarea-comment").val();

               $(".textarea-comment").val("@" + target_username + " " + comment);
               moveEnd($(".textarea-comment")[0]);
            });
         });
      </script>
   {% endif %}

   <div class="row">
      <div class="col-md-8">
         <div class="topic-wap">
            <a class="topic-user-avatar"
               href="{{ url_for('user.view', user_abbr=topic.user.abbr) }}">
               <img class="avatar" src="{{ topic.user.avatar }}">
            </a>

            <h1 class="topic-title">{{ topic.title|safe }}</h1>

            <div class="topic-extra-info">
               <a class="topic-creator"
                  href="{{ url_for('user.view', user_abbr=topic.user.abbr) }}">
                  {{ topic.user.name }}</a>
               ·
               <span class="topic-time">{{ topic.create_time|timesince }}</span>
               ·
               <span>{{ topic.click_num }} 点击</span>
               {% if permissions.TopicAdminPermission(topic.id).check() %}
                  <a class="btn-edit-topic"
                     href="{{ url_for('topic.edit', topic_id=topic.id) }}">编辑</a>
                  /
                  <a class="btn-delete-topic"
                     href="{{ url_for('topic.delete', topic_id=topic.id) }}">删除</a>
               {% endif %}
            </div>
            <div class="topic-content">{{ topic.content|format_text|safe }}</div>
         </div>

         {% if topic.comments %}
            <h2>回复</h2>

            {{ render_comments(topic.comments) }}
         {% endif %}

         {% if g.user %}
            <form id="add-topic-comment" method="post"
                  action="{{ url_for('topic.view', topic_id=topic.id) }}">
               {{ form.csrf_token }}

               <div class="form-group row">
                  <div class="col-md-10">
                     {{ form.content(class="form-control textarea-comment", rows="4") }}
                     {{ field_errors(form.content) }}
                  </div>
               </div>

               <input type="submit" class="btn btn-sm btn-default" value="回复"/>
            </form>
         {% endif %}
      </div>

      <div class="col-md-4"></div>
   </div>

{% endblock %}