{% extends "layout.html" %}

{% block page_title %}最新点评{% endblock %}
{% block page_id %}page-reviews{% endblock %}

{% block body %}

   <div class="row">
      <div class="col-md-8">
         <h2>最新点评</h2>

         {% from "widget/work_reviews.widget" import render_work_reviews %}
         {{ render_work_reviews(pagination.items)|safe }}

         {% from "widget/pagination.widget" import render_pagination %}
         {{ render_pagination(pagination)|safe }}
      </div>

      <div class="col-md-4">
         <h2>点评人</h2>

         {% from 'widget/users.widget' import render_users %}
         {{ render_users(hot_reviewers)|safe }}
      </div>
   </div>

{% endblock %}