{% extends "layout.html" %}
{% from 'macro/ui.html' import users, pagination, work_reviews %}

{% block page_title %}最新点评{% endblock %}
{% block page_id %}page-reviews{% endblock %}

{% block body %}

   <div class="row">
      <div class="col-md-8">
         <h2>最新点评</h2>

         {{ work_reviews(pagination.items)|safe }}

         {{ pagination(pagination)|safe }}
      </div>

      <div class="col-md-4">
         <h2>点评人</h2>

         {{ users(hot_reviewers)|safe }}
      </div>
   </div>

{% endblock %}